---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page non trouvée :(</strong></p>
  <p>Vous vous êtes perdus ? Découvrez <a href="https://fr.wikipedia.org/wiki/La_R%C3%A9union">la Réunion sur Wikipédia</a> !</p>
</div>
