<footer class="site-footer h-card">

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
          <li><a href="{% link 90-about.markdown %}">Mentions légales</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% picture assets/logo-coworkings-re.png width="120" alt="Logo coworkings.re" height="80.094" %}
      </div>

      <div class="footer-col footer-col-3">
        <p>Annuaire des <a href="{% link 20-coworkings.markdown %}">espaces de coworking</a>
          et des <a href="{% link 30-espaces-adaptes.markdown %}">lieux de travail partagés</a>
          pour télétravailleurs et <i>digital nomades</i> sur l'Île de la Réunion
        </p>
      </div>
    </div>

  </div>

</footer>
