---
# Keep '---' for minima customization
---
@import "minima";
@import "premonition";

.space-logo {
  float:right;
}
.space-photo, .photo-float-right {
  float:right;
  padding: 0 0 5px 5px;
}

/* Definition in article post */
dt {
  font-weight: 700;
}
dt, dd {
  @include media-query($on-palm) {
    padding: 5px 0 5px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-3, .col-sm-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
.col-sm-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
}

/* Header: ensure Google Maps does not override menu */
.site-nav {
  z-index: 10;
}

/* Footer */
.footer-col-wrapper a {
  color: #828282;
  text-decoration: underline;
}
.contact-list li {
  padding: 0px 0 10px;
}

.map-info-window h5 {
  font-size: large;
}

.marker-details {
  font-size: medium;
}