---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.logo %}
      <img class="space-logo" height="50px" src="{{ page.logo | relative_url }}">
    {% endif %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% if page.photo %}
      {% picture {{ page.photo }} width="250px" class="space-photo" alt="Photo {{ page.title }}" %}
    {% endif %}

    {{ content }}

    <h2>Coordonnées</h2>
    <dl class="row">
      {% if page.website %}
      <dt class="col-sm-3">Site</dt>
      <dd class="col-sm-9"><a href="{{ page.website }}">{{ page.website }}</a></dd>
      {% endif %}
      {% if page.email %}
      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9"><a href="mailto:{{ page.email | escape }}">{{ page.email }}</a></dd>
      {% endif %}
      {% if page.phone %}
      <dt class="col-sm-3">Téléphone</dt>
      <dd class="col-sm-9"><a href="tel:{{ page.phone | escape }}">{{ page.phone }}</a></dd>
      {% endif %}
      {% if page.address %}
      <dt class="col-sm-3">Adresse</dt>
      <dd class="col-sm-9">
        <a href="https://www.google.com/maps/search/{{ page.address | escape }}">{{ page.address }}</a>
      </dd>
      {% endif %}
    </dl>

    {% google_map width="100%" height="500" zoom="13" %}
  </div>

</article>
